@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

:root {
    --bg-color: rgb(33, 32, 41);
    --header-color: rgb(255, 170, 55);
    --color-white: white;
    --color-black: black;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    scroll-behavior: smooth;
}
html{
    scroll-snap-type: y mandatory;
}
html, body {
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--bg-color);
    color: var(--color-white);
    width: 100%;
}
body > div {
    scroll-snap-align: start;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    margin: 0 auto;

    text-align: center;

    font-size: 1.5em;
}






header {
    background: var(--header-color);
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
}

header div {
    width: 80%;
    margin: 0 auto;
}
header div::after {
    content: '';
    display: table;
    clear: both;
}

header div img {
    position: absolute;
    float: left;

    margin: 0.6em;
}

nav ul {
    width: auto;
    float: right;

    margin: 2em;
}

nav ul li {
    display: inline-block;
    margin-left: 2em;
    font-family: 'Roboto', sans-serif;
}

nav ul li a {
    font-size: 1.5em;

    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li a:hover {
    color: rgb(93, 93, 93);
}

/********************/
/*                  */
/*    About Page    */
/*                  */
/********************/

#about {
    width: 80%;
}
#about p {
    display: inline;
    color: var(--header-color);
}
#about h1 {
    margin-bottom: 1em;
}

/********************/
/*                  */
/*   Invite Page    */
/*                  */
/********************/

#invite {
    background-color: var(--header-color);
    color: var(--color-black);
}
#invite div {
    width: 80%
}
#invite div h1 {
    margin-bottom: 2em;
}
#invite div a {
    position: relative;
    top: 0;

    background-color: rgba(0, 0, 0, 0);
    color: var(--color-black);

    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    
    border: 1px solid black;

    padding: 1em;

    transition: 0.2s;
}
#invite div a:hover {
    top: 10px;
}

/********************/
/*                  */
/*   Contact Page   */
/*                  */
/********************/



#contact {
    width: 80%
}
#contact div h1 {
    margin-bottom: 1em;
}
